 /* body {
  padding-top: 50px;
  background-color: yellow;
}

h3 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
}

p {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  padding-top: 0;
}

button {
  margin-left: 100px;
  border-radius: 50px;
  background-color: black;
  color: white;
  height: 40px;
  width: 150px;
  margin-right: 150px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  
  
}

.twitter {
  height: 470;
  width: 350px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.icon {
  margin-top: 20px;
  margin-left: 140px;
}

.instagram {
  height: 470px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(245, 36, 137);
  color: white;
}

.youtube {
  height: 470px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

i {
  font-size: 60px; 
} */ 


 /*----- card-2 ------*/
@import url(sass)