$bg-1: red;
$bg-2: maroon;
$bg-3: yellow;
$bg-4: purple;
$bg-5: pink;
$bg-6: black;
$bg-7: blue;
$bg-8: green;
$bg-9: greenyellow;
$bg-10: rgb(255, 0, 191);
$bg-11: white;
$bg-12: gold;

$color-1: white;
$color-2: red;
$color-3: yellow;
$color-4: purple;
$color-5: maroon;
$color-6: skyblue;
$color-7: pink;
$color-8: yellowgreen;
$color-9: silver;
$color-10: gold;
$color-11: darkgray;