@import 'Variable.scss';

// .box {
//     height: $h-3+px;
//     width: $w-5+px;
//     background-color: $bg-1;
// }

// .box-1
//  {
//     height: $h-2+px;
//     width: $w-3+px;
//     background-color: $bg-2;
// }

// .box-2
//  {
//     height: $h-5+px;
//     width: $w-4+px;
//     background-color: $bg-3;
// }

// hr {
//     border: 2px solid peru;
// }

//  @Extend Method

// %boxx {
//     height: $h-4+px;
//     width: $w-3+px;
//     background-color: $bg-4;
//     border: 3px solid red;
//     border-radius: 15px;
// }

// .box-3
//  {
//   @extend %boxx;  
// }

// .box-4
//  {
//   @extend %boxx;  
// }

// @mixin Method 

//  @mixin boxxx() {
//     height: $h-5+px;
//     width: $w-2+px;
//     background-color: $bg-5;
//     border: 3px solid rgb(0, 38, 255);
//     border-radius: 15px;
// }

// .boxx-1
//  {
//   @include boxxx  
// }

// .box-5
//  {
//   @include boxxx;
//   height: $h-2+px;
//   width: $w-3+px;
//   background-color: $bg-2;
// }

// .box-6
//  {
//   @include boxxx;  
//   height: $h-3+px;
//   width: $w-4+px;
//   background-color: $bg-4;
// } 




// Card-1

// @mixin card{
//     height: $h-5;
//     width: $w-3;
//     background-color: $bg-11;
//     border:1px solid black;
//     border-radius: 10px;  
// }

// body {
//  padding-top: 50px;
//  background-color: $bg-6;
// }

// h3{
//     text-align: center;
//     font-size: 50px;
//     margin: 0;
//     margin-top: 20px;
// }

// p{
//     text-align: center;
//     margin-top: 10px;
//     padding: 10px;
//     padding-top: 0;
// }

// button{
//     margin-left: 100px;
//     border-radius: 50px;
//     background-color: black;
//     color: white;
//     height: 40px;
//     width: 150px;   
// }

// .container{
//     display: flex; 
//     justify-content: space-evenly;
// }

// .twitter{
//     @include card;   
// }

// .icon{
//     margin-top: 30px;
//     margin-left: 140px;
// }

// .instagram {
//     @include card;
//     background-color: $bg-10;
//     color: $bg-11;
// }

// .youtube{
//     @include card;
// }

// i {
//     font-size: 70px;
// }









// Car-2

// @mixin card-1() {
//     height: $h-7;
//     width: $w-4;
//     border-radius: 30px;
//     margin: auto;
//     margin-top: 30px;
//     background-color: $bg-11;
// }

// body {
//     background: linear-gradient(to bottom right, #ffb077 50%, rgb(249, 83, 208) 100%);
// }

// .Ani {
//     @include card-1;
// }

// .Anni {
//     height: $h-2;
//     width: $w-4;
//     border-radius: 30px 30px 0 0;
// }

// .Ani-1 {
//     height: 150px;
//     width: 150px;
//     border-radius: 100px;
//     background-color: $bg-11;
//     margin-left: 120;
//     margin-top: -60px;
//     box-shadow: 0
//     0 20px black;  
// }

// i {
//     font-size: 50px;
//     display: flex;
//     justify-content: end;
//     margin-top: -70px;
//     margin-right: 20px;
// }

// h1 {
//     margin-top: 50px;
//     margin-left: 80px;
// }

// b {
//     margin-left: 145px;
//     font-size: 20px;
//     color: lightgray;
// }

// .Ani-2 {
//     display: flex;
//     justify-content: center;
//     justify-content: space-evenly;
//     font-size: 35px;
//     font-weight: bolder;
//     color: skyblue;
//     margin-top: 20px;
// }

// .Ani-3 {
//     display: flex;
//     justify-content: center;
//     justify-content: space-evenly;
//     font-weight: bolder;
//     color: lightgrey;
//     font-size: 20px;
// }

// .folo {
//     margin-right: 20px;
// }

// .btn {
//     height: 50px;
//     width: 350px;
//     border-radius: 50px;
//     background-color: $bg-12;
//     margin-top: 20px;
//     margin-left: 25px;
//     font-size: 20px;
//     font-weight: bold;
// }

// pre {
  
//   display: flex;
//   justify-content: space-evenly;
//   font-size: 20px;
//   overflow: hidden;
//   color: $color-11;
//   font-weight: bold;
// }







// Card-3


@mixin Godhani()
{
   height: $h-2;
   width: $w-2;
   border-radius: 100px;
   background-color: $bg-7;
}

@mixin back()
{
   background-color: $bg-6;
}

body {
    @include back
}

.round {
    @include Godhani
}