

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size:21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1
{
    text-align: center;
    padding: 10px;
}


.contener
{
    padding: 4px;
    margin:auto;
    width: 100%;
    height: 95vh;
    display: flex;
    border: 2px solid rgb(1, 255, 230);
}


.contener .box
{
    border: 1px solid lightblue;
    /* width: 250px; */
    flex: 1 1 150px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    margin:2px;
}

.box > .demo-box
{
    text-align: center;
    height: 85px;
    width: 100%;
    border-radius: 5px;
    background-color: #c7c3c3;
}

.box > .demo-box:nth-child(2)
{
    margin: 4px 2px ;
    width: 80%;
    height: 150px;
}

.box > .demo-box:nth-child(3)
{
    width: 90%;
}


.contener .box-1
{
    justify-content: flex-start;
    align-items: flex-start;
}

.contener .box-2
{
    justify-content: flex-end;
}

.contener .box-3
{
    justify-content:center;
}

.contener .box-4
{
    justify-content:space-between;
}

.contener .box-5
{
    justify-content:space-around;
}


.contener .box-6
{
    justify-content:space-around;
}

.contener .box-6 .demo-box:nth-child(2)
{
    height: auto;
    padding: 4px;
}


.contener .box-7
{
    justify-content: center;
}


.contener .box-7 .demo-box
{
    flex-grow: 1;
}


.contener .box-8
{
    justify-content:space-evenly;
}